<!-- SIS-CAS 21073 -->
<form action="enviar_download.htm" name="f_download" method="POST" target="_blank">
   <input name="m_caminho"         type="Hidden"     value="1">
   <input name="m_param"           type="Hidden"     value="exporta_calculo/C100123456_apolices_emitidas.txt">
</form>
<!--------------------------------------------------------------------------------------------------------------------
<form action="{{.HdiURL}}/php/lib/enviar_download.php" name="f_download" method="POST" target="_blank">
   <input name="caminho" type="hidden" value="\\hdist01\webprogint\webtxt\exporta_calculo\">
   <input name="arquivo" type="hidden" value="C100123456_apolices_emitidas.txt">
</form>
-------------------------------------------------------------------------------------------------------------------->
<form action="act_exporta_calculo_novo_2008.htm" name="f_entrada" id="f_entrada" method="post" >
   <input name="m_status_prod"    id="m_status_prod"    type="hidden" value=""   />
   <input name="m_sta_origem"     id="m_sta_origem"     type="hidden" value=""    />
   <input name="m_t_corretor"     id="m_t_corretor"     type="hidden" value=""    />
   <input name="m_cod_corretor"   id="m_cod_corretor"   type="hidden" value=""  />
   <input name="c_pc"             id="c_pc"             type="hidden" value="O120454935210_2320"            />
   <input name="c_prdtor"         id="c_prdtor"         type="hidden" value=""        />
   <input name="m_c_sucursais"    id="m_c_sucursais"    type="hidden" value="098"   />
   <input name="m_dat_inicial"    id="m_dat_inicial"    type="hidden" value="03/03/2017"   />
   <input name="m_dat_final"      id="m_dat_final"      type="hidden" value="03/03/2017"     />
   <input name="m_cod_sucursal"   id="m_cod_sucursal"   type="hidden" value=""  />
   <input name="t_produtor"       id="t_produtor"       type="Hidden" value="C"      />
   <input name="cod_produtor"     id="cod_produtor"     type="Hidden" value="100123456"    />
   <input name="m_situacao"       id="m_situacao"       type="Hidden" value="A"      />
   <input name="m_layout"         id="m_layout"         type="Hidden" value="4"        />
   <input name="t_prd_grupo"      id="t_prd_grupo"      type="hidden" value="C"     />
   <input name="c_pc_grupo"       id="c_pc_grupo"       type="hidden" value="D169352100454_2320"      />
   <input name="m_num_requisicao" id="m_num_requisicao" type="Hidden" value="13560047"             />
   <input name="m_control_voltar" id="m_control_voltar" type="Hidden" value=""/>
</form>
<h3>Exporta&ccedil;&atilde;o de Documentos</h3>
   <div class="conteudo exportar-documentos">
      <div class="no-border no-margin box box-admin" id="containerMenor">
         <div class="alerta-form"><i class="icone icone-alerta vermelho"></i>
            <p>Nao foram encontrados documentos a serem exportados.</p>
         </div>
      </div>
   </div>
 <button type="button" class="btn btn-grande btn-cinza right" onClick="carregaConteudo('dsp_exporta_calculo_2008');"><i class="icone icone-seta-grande branco"></i>Voltar</button>


<!-- Generated by Webspeed: http://www.webspeed.com/ -->
