<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<form id="formCarregarLegado" action="{{.HdiURL}}/scripts/cgiip.exe/WService=wsbroker2//hdidigital/dsp_menu_meu_portal_admin_2008.htm" method="POST">
	<input type="hidden" name="c_pc_grupo" value="N123456789012_0123" />
	<input type="hidden" name="m_cod_corretor" value="100123456" />
	<input type="hidden" name="l_hsbc" value="false" />
	<input type="hidden" name="m_c_sucs_grupo" value="" />
	<input type="hidden" name="m_flg_admin" value="true" />
	<input type="hidden" name="initparam" value="48aa27aa2968989849276898ee21xx29aa7829ee92byjpcxbyazazeufteujpfteuaaeucxcxazxx7899698958994768382799ee7927277817eebbbb979797yy793989yy296848yy1998bb39896989279938cxbb79684849bb476838279998" />
	<input type="hidden" name="init" value="21xxbyazazeuftcxjpbycxxxazbyiqxxxxazjpeuiqdvhrbydvjpazazxx7957dvdv2728jpgsxxbyazazeuftcxjpbycxxx21" />
	<input type="hidden" name="m_cpf_prdtor" value="01234444876" />
	<input type="hidden" name="m_c_sucursais" value="" />
	<input type="hidden" name="m_flg_intranet" value="FALSE" />
	<input type="hidden" name="m_site_2008" value="true" />
	<input type="hidden" name="m_cod_opcao_menu_2008" value="2" />
	<input type="hidden" name="m_cod_sucursal" value="098" />
	<input type="hidden" name="c_pc" value="A123456789012_0123" />
	<input type="hidden" name="m_t_corretor" value="C" />
	<input type="hidden" name="m_cod_empresa" value="01" />
	<input type="hidden" name="c_pc_orig" value="A123456789012_0123" />
	<input type="hidden" name="m_nome_user_web" value="01234444876" />
	<input type="hidden" name="chaveUsuario" value="ABC123DEF" />
	<input type="hidden" name="m_n_sucs_grupo" value="" />
	<input type="hidden" name="m_sta_origem" value="H" />
	<input type="hidden" name="m_n_sucursais" value="" />
	<input type="hidden" name="t_prd_grupo" value="C" />
	<input type="hidden" name="m_frame_hdidigital" value="1" />
	</form>

<script type="text/javascript">
	document.getElementById("formCarregarLegado").submit();
</script>