


<!DOCTYPE HTML>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>HDI FileSystem</title>
	<link rel="shortcut icon" href="/hdifs/img/topo/favicon.ico" type="image/x-icon" />

	<!-- jquery -->
	<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

	<!-- bootstrap -->	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	
	<!-- HDI FS -->
	<script src="/hdifs/js/hdi-fs.js" type="text/javascript" charset="utf-8"></script>
	<link href="/hdifs/css/hdi-fs.css" rel="stylesheet" type="text/css" />
	
	<script>
		function load() {
	        window.location.href = '{{.HdiURL}}/hdifs/download/arquivo/bloco/CYzasJj4hfuAAzVkRT7rpUfT0l7ZH7SC';
	    }   
	
	    window.onload = load;
	</script>
</head>
<body>
	<div class="container">
		<div class="row cabecalho">
			<div class="span12">
				<span class="linha-topo"></span>
				<h1 class="logo-topo"></h1>
			</div>
		</div>

		<div class="row corpo">
			<div class="span12">
				<div class="alert alert-success">
					Por favor aguarde, realizando o processamento do arquivo solicitado...
				</div>
			</div>
		</div>
	</div>
</body>
</html>